.frame-1,
.frame-1 * {
  box-sizing: border-box;
}
.frame-1 {
  background: #ffffff;
  border-style: solid;
  border-color: #818181;
  border-width: 1px;
  height: 1210px;
  position: relative;
  overflow: hidden;
}
.zone-1 {
  position: absolute;
  inset: 0;
}
.rectangle-5 {
  background: #80c7e2;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 600px;
  height: 197px;
  position: absolute;
  left: 2.5px;
  top: 5px;
}
.rectangle-2 {
  background: #3200ff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 502.5px;
  top: 5px;
}
.rectangle-3 {
  background: #9b5f00;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 80px;
  height: 30px;
  position: absolute;
  left: 302.5px;
  top: 5px;
}
.rectangle-4 {
  background: #9b5f00;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 30px;
  height: 120px;
  position: absolute;
  left: -15px;
  top: 35px;
}
.rectangle-1 {
  background: #3200ff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 102.5px;
  top: 5px;
  aspect-ratio: 1;
}
.zone-2 {
  position: absolute;
  inset: 0;
}
.side-area {
  width: 600px;
  height: 745px;
  position: static;
}
.rectangle-23 {
  background: #80bfd1;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 120px;
  height: 745px;
  position: absolute;
  left: 2.5px;
  top: 205px;
}
.rectangle-24 {
  background: #80bfd1;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 120px;
  height: 597px;
  position: absolute;
  left: 482.5px;
  top: 205px;
}
.rectangle-25 {
  background: #80bfd1;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 354px;
  height: 120px;
  position: absolute;
  left: 125.5px;
  top: 205px;
}
.rectangle-26 {
  background: #80bfd1;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 477px;
  height: 145px;
  position: absolute;
  left: 125.5px;
  top: 805px;
}
.forest {
  width: 360px;
  height: 480px;
  position: static;
}
.rectangle-7 {
  background: #2a7138;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 120px;
  height: 120px;
  position: absolute;
  left: 122.5px;
  top: 325px;
}
.rectangle-11 {
  background: #2a7138;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 120px;
  height: 120px;
  position: absolute;
  left: 362.5px;
  top: 325px;
}
.rectangle-12 {
  background: #2a7138;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 120px;
  height: 120px;
  position: absolute;
  left: 242.5px;
  top: 445px;
}
.rectangle-13 {
  background: #2a7138;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 120px;
  height: 120px;
  position: absolute;
  left: 242.5px;
  top: 685px;
}
.rectangle-15 {
  background: #2a7138;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 120px;
  height: 120px;
  position: absolute;
  left: 362.5px;
  top: 565px;
}
.rectangle-14 {
  background: #2a7138;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 120px;
  height: 120px;
  position: absolute;
  left: 122.5px;
  top: 565px;
}
.rectangle-8 {
  background: #295210;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 120px;
  height: 120px;
  position: absolute;
  left: 122.5px;
  top: 685px;
}
.rectangle-16 {
  background: #295210;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 120px;
  height: 120px;
  position: absolute;
  left: 242.5px;
  top: 325px;
}
.rectangle-17 {
  background: #295210;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 120px;
  height: 120px;
  position: absolute;
  left: 362.5px;
  top: 445px;
}
.rectangle-18 {
  background: #295210;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 120px;
  height: 120px;
  position: absolute;
  left: 362.5px;
  top: 685px;
}
.rectangle-9 {
  background: #98a650;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 120px;
  height: 120px;
  position: absolute;
  left: 242.5px;
  top: 565px;
}
.rectangle-10 {
  background: #98a650;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 120px;
  height: 120px;
  position: absolute;
  left: 122.5px;
  top: 445px;
}
.zone-3 {
  position: absolute;
  inset: 0;
}
.rectangle-19 {
  background: #81d2d6;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 600px;
  height: 250px;
  position: absolute;
  left: 2.5px;
  top: 955px;
}
.rectangle-20 {
  background: #c0bdb6;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 150px;
  height: 150px;
  position: absolute;
  left: 452.5px;
  top: 935px;
}
.rectangle-29 {
  background: #717171;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 30px;
  height: 162px;
  position: absolute;
  left: -15px;
  top: 999px;
}
.rectangle-30 {
  background: #3200ff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 503px;
  top: 1105px;
  aspect-ratio: 1;
}
.rectangle-31 {
  background: #ffe100;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 150px;
  height: 30px;
  position: absolute;
  left: 101.5px;
  top: 955px;
}
